@use '@angular/material' as mat;
@import '../m3-theme.scss';

.top {
    display:flex;
    flex-direction: column;
    height: 100vh;
}

.spacer {
    flex-grow: 1;
}

.footer {
    align-self: flex-end;
}

.navbar > div {
    padding: 0 5px;
}

a {
    //color: $navfg;
    text-decoration: none;
}


a:visited {
    //color: $navfg;
    /* color: #cc88ff; */
}

