
mat-toolbar {
}

mat-toolbar span {
    padding-right: 2em;
}

mat-toolbar a {
    text-decoration: none;
    color: #ccccff;
}

mat-toolbar a :visited {
    text-decoration: none;
    color: #ccccff;
}
